@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;300;400;500;600;700&family=Raleway:ital,wght@0,500;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');


/* font-family: 'Anek Telugu', sans-serif; */
/* font-family: 'Raleway', sans-serif; */





* {
   font-family: 'Anek Telugu', sans-serif;
   scroll-behavior: smooth;
}

:root {
   /* text color  */
   --text-white: #fff;
   --text-black: #000;
   --text-dark: rgb(90, 90, 90);
   --text-tomato: #f2545f;

   /* text hover color  */
   --text-hover-white: #fff;
   --text-hover-black: #000;
   --text-hover-tomato: #f2545f;

   /* font familys   */
   --font-anek-telugu: 'Anek Telugu', sans-serif;
   --font-raleway: 'Raleway', sans-serif;

   /* icon color  */
   --icon-white: #fff;
   --icon-tomato: #f2545f;

   /* icon hover color  */
   --icon-hover-white: #fff;
   --icon-hover-tomato: #f2545f;

   /* backgronud color  */
   --bg-white: #fff;
   --bg-white-50: #faf9facb;
   --bg-black: #000;
   --bg-tomato: #f2545f;
   --bg-yellow: #f1c11a;

   /* backgronud hover color  */
   --bg-hover-white: #fff;
   --bg-hover-black: #000;
   --bg-hover-tomato: #f2545f;

   /* button background color  */
   --button-bg-white: #fff;
   --button-bg-black: #000;

   /* button hover background color  */
   --button-hover-bg-white: #fff;
   --button-hover-bg-black: #000;
}

#cover {
   width: 100%;
   max-width: 1800px;
   min-width: 350px;
   margin: auto;
}

/* icons style  */
.icons i {
   color: var(--icon-white);
   padding: 10px;
   border-radius: 100%;
   transition: all 0.5s ease-in-out;
}

.icons i:hover {
   color: var(--icon-hover-tomato);
   background-color: var(--bg-hover-white);
   transform: translateY(-3px);
}

/* section padding  */
.section-lg-padding {
   padding-top: 120px;
   padding-bottom: 120px;
}

.section-sm-padding {
   padding-top: 90px;
   padding-bottom: 90px;
}

p {
   font-size: 15px;
   font-family: var(--font-anek-telugu);
   line-height: 1.5rem;
   font-weight: 400;
}
a{
   text-decoration: none;
}
/* our button style  */
.button {
   padding: 10px 45px 10px 45px;
   border-radius: 50px;
   font-size: 14px;
   display: inline-flex;
   color: var(--text-white);
   font-family: 'Anek Telugu', sans-serif;
   transition: all 0.3s ease-in-out;
   text-decoration: none;
}

.tittle {
   font-family: var(--font-anek-telugu);
   font-size: 2rem;
   font-weight: 500;
}



/* OUR HEADER SECTION  */
header{
    width: 100%;
   height: 60px;
   border-bottom: 3px solid #f2545f;
   padding: 15px 0px 10px 0px;
   color: #fff;
   background-color: #000000;
  
} 

.logo-icon {
   white-space: nowrap;
   font-size: 25px;
   color: #fff;
   
} 
.logo-icon a:hover {
   color: var(--text-hover-tomato);
}

  
.nav .nav-item .nav-link {
   color: #fff;
   font-size: 11px;
   letter-spacing: 1px;
   padding: 5px;
}

.nav .nav-item .nav-link:hover {
   color: var(--text-hover-tomato);
}

.nav .nav-item {
   margin: 0px 10px 0px 0px;
} 
/* navigation button  */
.menubtn {
   width: 32px; 
   float: right; 
   cursor: pointer;
}
.menubtn .bar{
   width: 100%;
   height: 3px;
   margin-top: 5px;
   background-color: #f0f0f0;
   border-radius: 100px;
}
.menubtn:hover .bar{ 
   background-color: var(--text-hover-tomato);

}
 @media (min-width:1000px){
   .menubtn{
      display: none;
   }
 } 
 .mbnav .nav{
   transform: translateX(0px);
   transition: all 0.5s ease-in-out;
    
 }
 @media (max-width:1000px){
  
     .nav{
      position: absolute;
      top: 60px;
      z-index: 9999;
      left: 0%;
      background-color: #505050;
      width: 100%;
      height: 100vh;
      max-height: 1000px;
      flex-direction: column;
      transform: translateX(100%);

     }
     .nav .nav-item .nav-link { 
      font-size: 12px;
      letter-spacing: 2px;
      padding: 20px;
      transition: all 0.7s;
   }
   
   .nav .nav-item .nav-link:hover {
      color: var(--text-hover-tomato);
      border-bottom: 1px solid #f2545f;
   }
   
   .nav .nav-item {
      margin: 1% 0px;
   } 
 }
    
/* OUR HERO SECTION  */
#hero {
   width: 100%;
   height: 100vh;
   max-height: 1000px;
   background: url(https://templatemo.com/templates/templatemo_486_new_event/images/intro-bg.jpg);
   background-size: cover;
   background-attachment: fixed;
   color: var(--text-white);
   position: relative;
}

.hero__subtittle {
   font-size: 25px;
   word-spacing: 10px;
   font-weight: 600;
}
/* responsive nav style  */
@media(max-width:1000px) {

   .hero__subtittle {
      word-spacing: 5px;
   }
}

@media(max-width:700px) {

   .hero__subtittle {
      word-spacing: 5px;
   }
}
/* hero section start */
.hero__tittle {
   font-size: 55px;
   font-weight: 600;
   font-family: 'Raleway', sans-serif;
}

.hero__btn__white,
.hero__btn__tomatto {
   display: inline-block;
}

.hero__btn__white a,
.hero__btn__tomatto a {
   transition: all 0.3s ease-in-out;
   color: #fff;
   border-radius: 0px;
   padding: 12px 45px 9px 45px;
   font-family: 'Anek Telugu', sans-serif;
   font-size: 15px;
   font-weight: 500;
}

.hero__btn__white a {
   border: 2px solid #fff;
}

.hero__btn__white a:hover {
   background-color: var(--bg-hover-white);
   color: #000;
}

.hero__btn__tomatto a {
   background-color: var(--bg-tomato);
   border: 2px solid #f2545f;
}

.hero__btn__tomatto a:hover {
   background-color: transparent;
   border-color: #fff;
   color: #fff;
}

/* OUR SECTION TEAM  */

.team__text h2 {
   font-size: 30px;
   line-height: 3rem;
}

.team__text p {
   font-size: 17px;
   font-weight: 300;
}



/* OUR PROGRAMER SECTION  */
#programer {
   background-color: var(--bg-white-50);

}

.programer__option {
   border-bottom: 1px solid rgba(59, 59, 59, 0.192);
}

.programer__option p {
   font-weight: 600;
   cursor: pointer;
   letter-spacing: 1px;
   white-space: nowrap;
}

.programer__option p:hover {
   color: var(--text-hover-tomato);
   border-bottom: 1px solid #f2545f;
}


#first_card,
#second_card,
#therd_card {
   margin: 10px;
   width: 1100px;
   max-width: 100%;
   display: none;

}

#first_card {
   display: block;
}

.programer_img {
   width: 130px;

}

.programer_img img {
   object-fit: contain;
}

.time span {
   font-size: 14px;
}

.time i {
   font-size: 11px;
}

.card_para p {
   font-size: 17px;
   letter-spacing: 1px;
}

.programer_content {
   width: 700px;
   max-width: 100%;
}

.p-list {
   border-bottom: 1px solid rgba(153, 150, 150, 0.11);
}






/* OUR COMPANY SECTIOIN  */
.company__img {
   position: relative;

}

.company__img img {
   width: 100%;
   height: 100%;

}

.company__text h6 {
   letter-spacing: 4px;
}

.company__text h6 {
   letter-spacing: 4px;
}

.company__text p {
   line-height: 2rem;
   font-size: 14px;
   word-spacing: 2px;
}












/* OUE TALK SECTION START  */
#talk {
   background:
      linear-gradient(rgb(136, 145, 150), transparent),
      linear-gradient(-45deg, rgb(0, 0, 0), transparent),
      linear-gradient(45deg, rgb(0, 0, 0), transparent);
   background-blend-mode: multiply;
}

.talk__icon {
   margin-right: 20px;
}

.talk__icon .fas {
   font-size: 30px;
   color: var(--icon-white);
}

.talk__text p {
   font-size: 13px;
}

.talk__text h2 {
   color: var(--text-tomato);

}

.talk__btn {
   border: 3px solid #fff;
   font-family: var(--font-raleway);
}

.talk__btn:hover {
   border: 3px solid #f2545f;
   color: var(--text-hover-white);
   background-color: var(--bg-hover-tomato);
}















/* OUR VENUE SECTION START  */
#venue {
   background: url(https://templatemo.com/templates/templatemo_486_new_event/images/venue-bg.jpg);
   background-size: cover;
   background-position: center;
}

.venue__content {
   width: 500px;
   max-width: 100%;
}

.venue__content h2 {
   font-size: 30px;
   font-weight: 500;
}

.venue__content address {
   font-size: 19px;
   font-weight: 600;
   line-height: 2rem;
}

/* OUR QUESTOINS SECTION START  */
.question__des {
   padding: 30px;
   background: #fff;
   display: none;
   box-shadow: 2px 2px 6px 0px rgba(37, 37, 37, 0.089);
}

.question__des1 {
   display: block;
}

.question__header {
   color: var(--text-white);
   background: #f0f0f0;
   color: #505050;
   padding: 15px 30px;

}

.question__header h2 {
   font-size: 19px;
   font-family: var(--font-anek-telugu);
}

.question__open,
.question__close {
   font-size: 15px;
   cursor: pointer;
}

.question__open:hover,
.question__close:hover {
   color: #f2545f;
}

.question__close {
   display: none;
}

#question_close {
   display: block;
}

#question_open {
   display: none;
}

/* OUR COUNTER SECTOIN STYLED  */
.counter {
   background:
      linear-gradient(rgb(136, 145, 150), transparent),
      linear-gradient(-45deg, rgb(0, 0, 0), transparent),
      linear-gradient(45deg, rgb(0, 0, 0), transparent);
   background-blend-mode: multiply;
   color: var(--text-white);
}

#counter .container .row {
   padding-left: 120px;
   padding-right: 120px;
}

@media (max-width:1395px) {
   #counter .container .row {
      padding-left: 0px;
      padding-right: 0px;
   }
}

.counter-card i {
   font-size: 45px;
   color: var(--icon-tomato);
   padding: 30px;
}

.counter-card h2 {
   font-size: 25px;
   font-family: var(--font-anek-telugu);
}

/* OUR CONTACT SECTION STYLE  */
#contact {
   background: url(https://templatemo.com/templates/templatemo_486_new_event/images/contact-bg.jpg);
   background-size: cover;

}

.contact__text {
   width: 100%;
   max-width: 470px;
}

.contact__text h2 {
   font-family: var(--font-anek-telugu);
   font-weight: 500;
   font-size: 25px;
}

.contact__text__btn {
   background-color: var(--bg-tomato);
}

.contact__text__btn:hover {
   background-color: var(--bg-hover-black);
   color: var(--text-hover-white);
}

.contact__box {
   padding: 5rem 4rem 5rem 4rem;
   width: 500px;
   max-width: 100%;
   background-color: var(--bg-white);
}

.contact__box input,
.contact__box textarea {
   border: none;
   border-bottom: 1px solid rgba(230, 228, 228, 0.589);
   font-size: 13px;
   font-family: var(--font-anek-telugu);
}

.contact__box__btn {
   margin-top: 50px;
   border: 1px solid #000;
   color: var(--text-black);

}

.contact__box__btn:hover {
   background-color: var(--bg-hover-tomato);
   color: var(--text-hover-white);
   border-color: #f2545f;
}

/* OUR SPONSORE SECTION START  */
.sponsor-head p {
   font-weight: 300;
}

.sponsore-card {
   padding: 10px 0px;
}

.sponsore-card img {
   width: 90%;
}

/* footer section style start  */
#footer {
   width: 100%;
   position: relative;
   background:
      linear-gradient(rgb(136, 145, 150), transparent),
      linear-gradient(-45deg, rgb(0, 0, 0), transparent),
      linear-gradient(45deg, rgb(0, 0, 0), transparent);
   background-blend-mode: multiply;
}

.svgcolor-light {
   position: relative;
   top: -130px;
   width: 70%;
}

.svgcolor-light>path {
   fill: white;
   stroke: white;
   stroke-width: 0;
}

.footer__content {
   color: #fff;
}

.copyright {
   word-spacing: 4px;
}

.copyright-link {
   color: var(--text-tomato);
}

.footer__ul {
   flex-flow: wrap;
}

.footer__ul .fa-facebook-f {
   padding: 9px 12px;
}

.scroll-button {
   position: absolute;
   bottom: 10%;
   right: 10%;
}




/* javascripte useing style code  */
.navblack {
   background-color: #000;
   box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.158);

}


.programer-active {
   color: var(--text-hover-tomato);
   border-bottom: 1px solid #f2545f;
}

.pro-active {
   color: black;
   border-bottom: none;
}